<form #Form="ngForm" (keyup)="discovery(Form)">





  <input type="text" ngModel name="username" #username="ngModel" (keyup)="discovery(username)">
  <table>
    <tr *ngFor="let receiver of people">
      <td>
        <div> {{receiver.username}}</div>


      </td>

      <td>
        <div style="width: 20%;">
          <button value="request" type="button" style="height: 20%;" (click)="SendRequest(request)">request</button>
        </div>
        <!-- <div class="row">
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="messageText">            
        </div>
        <div class="col-sm-2">
               <button type="button" class="btn btn-success pull-right" (click)="sendMessage()">Send</button>
        </div>
    </div> -->

      </td>
      <td>
        <div>
          <input type="hidden "name="receiverName" class=”receiverName” value=”{{this.username}}”>
         <!-- // < input type="hidden " name=”sender-name” class=”sender-name” value=”{{user.username}}”> -->
        </div>
      </td>
      <!-- <td>
        <div class="row">
          <div class="well" style="height:200px; padding:15px;">
              <div *ngFor="let item of messageArray">
              <span> {{item.to}}</span>
              </div>
          </div>
      </div>
      </td> -->
    </tr>

  </table>






</form>