<div style="background-color:white; width: 200px; margin:0 auto;margin-top: 40px;">


    

    <form #loginForm="ngForm" (ngSubmit)="handlingForm(loginForm)">




        <div>
            <div>
                <div style="display: inline-block; width: 50%;">
                    <button routerLink="/login" style="width:100%;">Login</button>
                </div>

                <div style="display: inline-block; width: 50%;">
                    <button routerLink="/register" style="width:100%;">Register</button>
                </div>
            </div>





            <div>
                <div style="margin-top: 10px;">
                    <input 
                           type="text" 
                           ngModel 
                           #username="ngModel" 
                           name="username" 
                           placeholder="username" 
                           required
                           style="width: 100%" 
                           minlength="8">
                   </div>

                



                <div class="username-errors" *ngIf="username.touched && username.invalid || username.invalid && loginForm.submitted">
                    <span class="username-minlength-error" *ngIf="username.errors.minlength">*minimum 8 characters</span>
                    <span class="username-require-error" *ngIf="username.errors.required">*username is required</span>
                  
                </div>
                </div>




            <div style="margin-top: 10px;" >
                <input type="Password" ngModel #Password="ngModel" name="Password" placeholder="Password"
                    style="width: 100%" required minlength="8">
            </div>




            <div class="handling-error-password" *ngIf = "Password.invalid && loginForm.submitted">
                <span class="username-require-error" *ngIf="username.errors.required"> *password is required</span>
            </div>





            <div style="margin-top: 10px;" >
                <input type="submit" value="login">
            </div>
            
            

        </div>

    </form>
</div>