<div style="background-color:white; width: 200px; margin: 0 auto;margin-top: 80px;">

<div  style="background-color:white; width: 200px; margin: 0 auto;margin-top: 30px;">



    <form #loginForm="ngForm" (ngSubmit)="handlingForm(loginForm)">
        <div>
            <div>
                 <div style="display: inline-block; width: 50%;">
                   <button routerLink="/login" style="width:100%;">Login</button>
                </div>
             <div style="display: inline-block; width: 50%;">
                
                <button routerLink="/register" style="width:100%;">Register</button>
         </div>
    </div>



              <div style="margin-top: 10px;">
                <input type="text" ngModel name="username" placeholder="username" style="width: 100% " minlength="8" #username ="ngModel" required> 
             </div>



             <div class="username-errors" *ngIf="username.touched && username.invalid || username.invalid && loginForm.submitted">
                <span class="username-minlength-error" *ngIf="username.errors.minlength">*minimum 8 characters</span>
                <span class="username-require-error" *ngIf="username.errors.required">*username is required</span>
            </div>




            <div style="margin-top: 10px;">
                <input type="Password"  ngModel name="Password" placeholder="Password" style="width: 100%" minlength="8" #Password ="ngModel" required>
            </div>



            <div class="handling-error-password" *ngIf = "Password.invalid && loginForm.submitted">
                <span class="password-require-error" *ngIf="username.errors.required"> *password is required</span>
            </div>

            


            <div style="margin-top: 10px;" >
                <input type="password" ngModel name="confirmPassword" placeholder="Confirm-Password" style="width: 100%"  pattern="{{ Password.value }}"  required minlength="8" #confirmPassword="ngModel" >
            </div>


            <div class="handling-error-password" *ngIf = "confirmPassword.touched && confirmPassword.invalid || username.invalid && loginForm.submitted"  >
                <span class="confirm-password-require-error" *ngIf="confirmPassword.errors.pattern"> *Passwods are not matching.</span>
                <span class="password-require-error" *ngIf="confirmPassword.errors.required"> *Confirm-Password is required</span>
            </div>


            <div  style="margin-top: 10px;">
                <input type="submit" value="Register">
            </div>



        </div>

    </form>
</div>

</div>