.class-wrapper{
    position: absolute;
    height: 50%;
    width: 100%;
    top: 50px; 


    .incoming-massage-wrapper{
        position: relative;
        background-color :whitesmoke;
        height: 10%;
        width: 50%;
        margin-top: 5%;
        margin-left: 2%;
       

    }
      .out-going-message-wrapper{
        position: relative;
        left: 50%;
        background-color:whitesmoke;
        height: 10%;
        width: 50%;
        margin-top: 5%;
        right: 2%;
    
        
      }


}


.message{
  background-color: red;
  position: relative;
  top: 20%;
}


.button{
  background-color: red;
  margin: auto;
  position: absolute;
  top: 50%;
  right: 0;
}


.message-window{
  position: relative;
  top: 50%;
  bottom: 25%;
}