<main>
    <nav>
        <div style="
                width: 40px; 
                height: inherit; 
                background-color: rgb(236, 103, 236);
            " routerLink="/user/group">
            <div class="fa fa-angle-left" style="text-align: center; padding-left: 15px; padding-top: 10px;"></div>
        </div>
    </nav>
    <div id="chat-area-wrapper">
        <div id="chat-area-inner" *ngFor="let msg of message$ | async ">
            <div class="received" *ngIf="msg.to === currentUser()">
                <div class="message-wrapper">
                    <div class="message-inner">
                        <div>{{msg.message}}</div>
                    </div>
                </div>
            </div>
            <div class="sent" *ngIf="msg.from === currentUser()">
                <div class="message-wrapper">
                    <div class="message-inner">
                        <div>{{msg.message}}</div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

    <div id="message-input-wrapper">
        <form style="margin: 10px; width: 80%; display: inline-block;" #chatForm="ngForm" (ngSubmit)="sendMessage(chatForm)">
            <textarea 
                name="message" 
                style="
                    text-align:left;
                    border-radius: 10px; 
                    border: 1px solid gainsboro; 
                    width: 100%;" 
                placeholder="write..."
                ngModel
                #message="ngModel"
            ></textarea>
            <input type="submit" style="display:none" #sendBtn>
        </form>
        <div (click)="sendBtn.click()" 
            style="
                float: right;
                clear:both;
                width: 30px;
                height: 30px;
                text-align: center;
                margin-top: 10px;
            ">
            <span class="fa fa-caret-right" style="font-size: 40px; color: purple;"></span>
        </div>
    </div>
</main>
