<div style="background-color:white; width: 200px; margin: 0 auto;margin-top: 80px;">
    <div>
        <div style="
        width: 120px ;
        height: 120px;
        background-color: lightgreen; 
        border-radius: 100%; 
        margin: 0 auto;
        padding: 20px 10px ;
        ">
    <div >
        <div style="
            width: 100px ;
            height: 100px;
            background-color: green; 
            border-radius: 100%; 
            margin: 0 auto;
            padding-top: 20px ;
            overflow: hidden;
            ">
            <div style = "margin: 10px;">
    <div style="
    width: 50px ;
    height: 50px;
    background-color:white; 
    border-radius: 100%; 
    margin:0  auto;
    
    ">
    
    </div>
    <div  style="
    height: 50px;
    width: 40px;
    background-color: white;
    margin:0  auto;
    ">
        
    </div>
    </div>
        </div>
    
    
    
    </div>
    </div>
    </div>
    <router-outlet></router-outlet>