
<div *ngIf="this.global.showdashboard" id="dashboard-wrapper" #dashboard (click)="slideIn([first, second ,third], dashboard)" >
   
    <div id="first-icon" class="inner-icon hidden"  routerLink="/home" #first>
        <div class="icon">
            <span class="fa fa-user" ></span>
        </div>
    </div>


    <div id="second-icon" routerLink="/chat" class="inner-icon hidden" #second>
        <div class="icon">
            <span class="fa fa-commenting-o" ></span>
        </div>
    </div>


        <div id="third-icon" routerLink="/user/discovery" class="inner-icon hidden" #third>
            <div class="icon">
                <span class="fa fa-search" ></span>  
            </div>
          </div>
</div>


<!-- 
<div class="dashboard-wrapper" #dashboard>

<div id="caret-wrapper" >
    <div id="caret-icon" (click)="slideDown(dashboard)">

    </div>

</div>

  <div class="inner-dashboard">

    <div class="inner-dashboard-wrapper  ">
         <div class="inner-dashboard-icon fa fa-user" routerLink ="/auth/login"></div>

        <div class="top-left-wrapper  ">
          <div class="top-left-icon  fa fa-bell"></div>
        </div>

        <div class="middle-left-wrapper">
            <div class="middle-left-icon fa fa-group" routerLink = "/group"></div>
        </div>

        <div class="bottom-left-wrapper">
            <div class="bottom-left-icon fa fa-graduation-cap"></div>
        </div>

        <div class="middle-bottom-wrapper">
            <div class="middle-bottom-icon  fa fa-cutlery"></div>
        </div>

        <div class="bottom-right-wrapper">
            <div class="bottom-right-icon  fa fa-sign-out"></div>
        </div>

        <div class="right-middle-wrapper ">
            <div class="right-middle-icon fa fa-calendar"></div>
        </div>

        <div class="top-right-wrapper">
            <div class="top-right-icon  fa fa-money"></div>
        </div>

        <div class="middle-top-wrapper"></div>

    </div>
</div>
</div> -->