

$theme-color :lightgrey;

#dashboard-wrapper{
    position: fixed;
    bottom: 10px;
    right: 5px;
    background-color: red($color: #000000);
    width: 40px;
    height: 40px;
    background-color: $theme-color;
    z-index: 5000;
    border-radius: 5px;
    overflow: hidden;

    .inner-icon{
        font-size: large;
        text-align: center;
    }

    .hidden{
        width: inherit;
        height: inherit;
        position: absolute;
        z-index: inherit;
        transition: 2000ms ease;
        display: none;
    }
    
    .fa{
        vertical-align: middle;
    }

    .icon{
        background-color: $theme-color;
        margin: 5px;
        color: white;
        height: 30px;
        width: 30px;
        padding: 2px;
        border-radius:100%;
    }
}




// .dash-board-wrapper{
//     height: 40vh;
//     width: 100vw;
//     background-color: lightgray;
//     position: fixed;
//     bottom: 0;
// }

// .center-icon-wrapper{
//     position: absolute;
//     width: 100px;
//     height: 100px;
//     background-color: darkgray;
//     left:calc( 50% - 50px);
//     bottom: calc( 50% - 50px);
// }

// .top-left-wrapper{
//     position: absolute;
//     width: 50px;
//     height: 50px;
//     background-color: darkgray;
   
// }

// .top-right-wrapper{
//     position: absolute;
//     width: 50px;
//     height: 50px;
//     background-color: darkgray;
//     right: 0;
   
// }

// .middle-left-wrapper{
//     position: absolute;
//     width: 50px;
//     height: 50px;
//     background-color: darkgray;
//     left: 0;
//     bottom: calc( 50% - 25px);
   
// }

// .bottom-left-wrapper{
//     position: absolute;
//     width: 50px;
//     height: 50px;
//     background-color: darkgray;
//     left: 0;
//     bottom: 0;
   
// }

// .middle-bottom-wrapper{
//     position: absolute;
//     width: 50px;
//     height: 50px;
//     background-color: darkgray;
//     bottom: 0;
//     left: calc( 50% - 25px);
   
// }

// .bottom-right-wrapper{
//     position: absolute;
//     width: 50px;
//     height: 50px;
//     background-color: darkgray;
//     bottom: 0;
//     right: 0;
   
// }

// .middle-right-wrapper{
//     position: absolute;
//     width: 50px;
//     height: 50px;
//     background-color: darkgray;
//     right: 0;
//     bottom: calc( 50% - 25px);
   
// }


// .midddle-top-wrapper{
//     position: absolute;
//     width: 50px;
//     height: 50px;
//     background-color: darkgray;
//     top: 0;
//     left: calc( 50% - 25px);
   
// }

// with inner wrapper

// last used css

// .dashboard-wrapper{
//     height: 40vh;
//     width: 100vw;
//     background-color: lightgray;
//     position: fixed;
//     bottom: 0;
//     transition: 600ms ease;   //to move at a certain time

//     #caret-wrapper{
//       position: absolute;
//       top: -20px;
//       height: 20px;
//       width: 100%;
//       background-color:lightgreen;

//       #caret-icon{
//          height: inherit;
//          width: 20%;
//          background-color:green;
//          margin: auto;
//          border-radius: 0 0 100% 100%;

//       }

//     }

//     .inner-dashboard{
//       height: inherit;
//       width: inherit;
//       background-color: lightgray;
//       position: absolute;
//       bottom: 0;
      
      


  // last used css  

//     .inner-dashboard-wrapper{
//     position: absolute;
//     width: 50%;
//     height: 50%;
   
//     left:calc( 50% - 25%);
//     bottom: calc( 50% - 50px);
//     font-size: 50px;

//     .inner-dashboard-icon{
//       font-size:150px;
//       position: relative;
//       margin: 12% ;
//       bottom: 10px;
//       color: green;
//       left: 10%;
   
      
//     }


//       .top-left-wrapper{
//                 position: absolute;
//                 width: 25%;
//                 height: 25%;
             
//                 left:-25%;
//                 top: -25%;
        

//          .top-left-icon{
//           color: green;
//          }

//       }

//       .middle-left-wrapper{
//     position: absolute;
//     width: 25%;
//     height: 25%x;
  
//     left: -25%;
//     bottom: calc( 50% - 25px);

      
//      .middle-left-icon{
//       color: green;

//      }


//       }






//       .bottom-left-wrapper{
//     position: absolute;
//     width: 25%;
//     height: 25%;
   
//     left: -25%;
//     bottom: -25%;


//     .bottom-left-icon{
//       color: green;
//     }




//       }
//       .middle-bottom-wrapper{
//     position: absolute;
//     width: 25%;
//     height: 25%;
    
//     bottom: -25%;
//     left: calc( 50% - 25px);

     
//     .middle-bottom-icon{
//       color: green;
//     }



//       }
//       .bottom-right-wrapper{
//     position: absolute;
//     width: 25%;
//     height: 25%;
//     bottom: -25%;
//     right: -25%;


//      .bottom-right-icon{
//       color: green;
//      }





//       }
//       .right-middle-wrapper{
//     position: absolute;
//     width: 25%;
//     height: 25%;
  
//     right: -25%;
//     bottom: calc( 50% - 25px);
   


//     .right-middle-icon{
//       color: green;
//     }




//       }
//       .top-right-wrapper{
//     position: absolute;
//     width: 25%;
//     height: 25%;
//     right: -25%;
//     top: -25%;


//     .top-right-icon{
//       color: green;
//     }
//       }





//      .middle-top-wrapper{
//     position: absolute;
//     width: 25%;
//     height: 25%;
//     background-color: darkgray;
//     top: -25%;
//     left: calc( 50% - 25px);
   
//      }

//     }
// }
// }
