
<app-dashboard></app-dashboard> 
<div [@routeAnimations]="getAnimationData(routerOutlet)" [@fadeIn]="getAnimationData(routerOutlet)">
   <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
