// .nav-bar{
//     position: absolute;
//     background-color:lightgreen;
//     height: 50px;
//     width: 100%;
    

//     .user-profile-icon{
//         position: absolute;
//         background-color: white;
//         height: inherit;
//         width: 15%;
//         border-radius: 100%;
//         right: 7%;
        
        
      
//          .user-icon{
             

//          }
//     }
   
// }


#user-icon-wrapper{
    height: 60px;
    width: 60px;
    margin: 0 auto;
    border-radius: 10%;
    background-color: lightgreen;
    z-index: 10;
    position: absolute;
    right: 10px;
    top: 40px;
    overflow: hidden;

    div{
        width: 50%;
        height: 50%;
        background-color: white;
        margin: 0 auto;
    }

    #icon-head{
        border-radius: 100%;
    }
}

.icon-background{
    z-index: 5; 
    height: 50%; 
    background-color: rgb(243, 243, 243); 
    position: absolute; 
    width: 100%; 
}

.card{
    height: 200px;
    position: relative;
    border: 1px solid lightgray;
    margin: 10px;
}