
      <!-- <div class="nav-bar">
        <div class="user-profile-icon ">
          
          <div class="user-icon "></div>
        </div>
        </div> -->


        <div style="position: relative; height: 150px;">
          <div id="user-icon-wrapper">
              <div id="icon-head"></div>
              <div id="icon-body"></div>
          </div>
          <div class="icon-background" style="top: 0;">
              <span style="position: absolute; bottom:5px; margin-left: 5px; font-size: medium;">Groups</span>
          </div>
          <div class="icon-background" style="background-color: rgb(235, 232, 232); bottom: 0">
              <span style=" margin-left: 5px; font-size: small;"></span>
          </div>
      </div>
      <div class="card"></div>
      <div class="card"></div>


        

