<main>
    <section id="group-wrapper">
        <ul>
            <li [routerLink]="['/user/groups', msg.id]" *ngFor="let msg of texts">
                <table>
                    <tr>
                        <td class="icon-section">
                            <div class="icon-wrapper"></div>
                        </td>
                        <td class="main-section" style="vertical-align: top;">
                            <div>
                                <span style="font-size: small;">{{msg.id}}</span>
                            </div>
                            <div>
                                <span style="font-size: x-small">{{msg.messages[0].message}}</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </li>
        </ul>
    </section>
    <div>
        <div id="options-button"></div>
    </div>
</main>
