#group-wrapper{
    position: relative;
    height: 100vh;

    ul{
        list-style: none;
        margin: 10px;
        padding: 0;
        li{
            margin: 5px 0;

            .icon-section{
                .icon-wrapper{
                    height: 40px;
                    width: 40px;
                    background-color: grey;
                    border-radius: 100%;
                }
            }

        }
    }
}